@use '../utils/' as *;


.body-view {
  font-family: var(--font-roboto-mono);

  height: 90%;
  // margin: rem(5) rem(10);
  padding: rem(10);
  border-radius: rem(30);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; 
  background-color: var(--dark-mode-body-bg);
  color: var(--dark-mode-text);

  /* Body grid layout */

  display: grid;
  grid-template-columns:  1.5fr .5fr repeat(2, 1.5fr);
  grid-template-rows: 1.5fr 1fr;
  grid-column-gap: rem(10);
  grid-row-gap: rem(10);
  // justify-content: stretch;
  

  // background-image: url("src/assets/noise.png"); 
}

.intro-block {
  font-family: "Press Start 2P", system-ui;
  font-size: rem(40);
  background-color: #151515;

  grid-area: 1 / 1 / 2 / 3;

  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: end;
  display: flex;
  align-items: center;

  letter-spacing: 0.125px;
  line-height: 53px;

  height: 30.75rem;
  padding: 0.6rem;
  // width: 30.75rem; 
}

.avatar-block {
  background-color: #151515;
  grid-area: 1 / 3 / 2 / 4;
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;

  width: 23.8125rem;
  height: 30.75rem;
  overflow: hidden;
}

.avatar-block > img {
  height: auto;
  width: auto;
}

.bio-block {
  background-color: #151515;
  grid-area: 1 / 4 / 2 / 5;
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;

  // width: 325px;
  height: 30.75rem;

  // justify-self: end;
  
}

.bio-tag {
  color: darkgrey;
}

.bio-value {
  color: lightgrey;
}

.bio-name {
  // width: calc(20rem - 15px);
  /* height: 30.75rem; */
  grid-area: 1 / 1 / 2 / 2;
  border-radius: rem(10);
  padding: 25px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  background-color: #313131;
}
.bio-location {
  // width: calc(20rem - 15px);
  /* height: 30.75rem; */
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  flex-direction: column;

  border-radius: rem(10);

  background-color: #313131;
  /* background-color: red; */
}
.bio-location-text {
  margin: 10px 10px 5px 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;

  /* background-color: pink; */
}
.bio-location-map {
  margin: 10px 10px 10px 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 205px;
  // /* width: 300px; */
  // width: calc(20rem - 35px);
  border-radius: rem(10);

  /* background-color: yellow; */

  overflow: hidden;
}

.bio-blr-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.bio-social {
  // width: calc(20rem - 15px);

  /* height: 30.75rem; */
  grid-area: 3 / 1 / 4 / 2;
  /* height: 15%; */

  border-radius: rem(15);
  /* margin: 5px 10px 10px 10px; */
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #313131;
}

.instagram,
.github,
.linkedIn,
.twitter {
  border-radius: 100px;

  background-color: #151515;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px;
}

.github > img,
.linkedIn > img {
  width: 32px;
  aspect-ratio: auto;
  // filter: invert();
}

.instagram > img,
.twitter > img {
  width: 24px;
  /* aspect-ratio: auto; */
  // filter: invert();
}

.myprojects-block {
  background-color: #151515;
  grid-area: 2 / 1 / 3 / 2;
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.easteregg-block {
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.circle {
  border-radius: 100%;
  background-color: #d86800;
  height: 200px;
  width: 200px;
}

.resources-block {
  grid-area: 2 / 4 / 3 / 5;
  // border-radius: 35px;

  display: grid;
  grid-template-columns: repeat(1, 1fr) 0.5fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: rem(10);
  grid-row-gap: rem(10); 
  border: #d86800 solid;

  // background-color: var(--dark-mode-body-bg);
  /* padding: 15px; */
}

.tbr-block {
  grid-area: 1 / 1 / 2 / 3;
  background-color: var(--dark-mode-main-bg);
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // margin: 15px 7.5px 7.5px 15px;

  cursor: pointer;
}
.about-me-block {
  grid-area: 2 / 1 / 3 / 3;
  background-color: var(--dark-mode-main-bg);
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // margin: 7.5px 7.5px 7.5px 15px;

  cursor: pointer;
}
.togglebutton {
  grid-area: 1 / 3 / 3 / 4;
  background-color: var(--dark-mode-main-bg);
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // margin: 15px 15px 7.5px 7.5px;

  cursor: pointer;
}
.contact-me-block {
  grid-area: 3 / 1 / 4 / 4;
  background-color: var(--dark-mode-main-bg);
  // background-color: #313131;
  border-radius: rem(20);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  // margin: 7.5px 15px 15px 15px;

  cursor: pointer;
}

.togglebutton > p {
  transform: rotate(-90deg);
}

.resources-block > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
