@use '../utils/' as *;

.footer-view {
  height: 2;
  margin: 0;

  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  text-decoration: underline;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */

  @include breakpoint-down(small){
    display: grid;
    flex-direction: column;
    // padding: rem(5) rem(50);

   

    width: 100vw;
   
    border-radius: rem(30);
  }
}
