@use '../utils/' as *;

.header-view {
  margin: 5px;
  height: 8%;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  align-items: center;
  color: var(--dark-mode-text);



  @include breakpoint-down(small){

    padding: rem(5) rem(25);
    
  }


}

.nameLogo {
  font-family: "Comforter", cursive;
  font-size: 40px;

  @include breakpoint-down(small){

    font-size: rem(35);
    justify-content: space-around;

    
  }
}

.fourPStar > img {
  padding: 5px;
  width: 50px;
}

.resumeButton {
  /* all: unset; */
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  display: flex;
  width: 150px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #313131;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: var(--dark-mode-text);
}

a {
  all:unset;
  text-decoration: none;
}

.resumeButton:hover {
  cursor: pointer;
}

.resumeButton:active {
  /* position: absolute; */
}
