// .loading-text {
//   height: 100vh;
//   font-family: "Akshar", sans-serif;
//   text-transform: uppercase;

//   font-size: 5rem;

//   display: flex;
//   flex-direction: column;

//   justify-content: center;
//   align-items: center;

//   color: #fff;
//   text-align: center;
//   font-family: Comforter;
//   font-size: 5rem;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1rem;

//   line-height: 10rem;
//   letter-spacing: 0rem;

//   z-index: -1;
// } 

// #name {
//   color: #e4ff99;
//   font-size: 9.3rem;

//   margin: 5rem;

//   clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
// } 

// .tagLine {
//   font-size: 3.125rem;
//   word-spacing: 1rem;
//   color: white;
// }





#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  // fill: #E4FF99;
  width: 500px;
  display: block;
  position: absolute;

  
}

#name path {
  stroke-dasharray: 100px;
  stroke-dashoffset: 500px;
  // animation: dash 10s linear;
}
// #name path:nth-child(2) {
//   stroke-dasharray: 30px;
//   stroke-dashoffset: 50px;
//   // animation: dash 10s linear;
// }
// #name path:nth-child(3) {
//   stroke-dasharray: 30px;
//   stroke-dashoffset: 50px;
//   // animation: dash 10s linear;
// }
// #name path:nth-child(4) {
//   stroke-dasharray: 30px;
//   stroke-dashoffset: 50px;
//   // animation: dash 10s linear;
// }
// #name path:nth-child(5) {
//   stroke-dasharray: 30px;
//   stroke-dashoffset: 50px;
//   // animation: dash 10s linear;
// }


@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 100;
  }
} 
