* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  background-image: url(src/assets/noise.png);

  /* 
    font-family: 'Comforter', cursive;
    font-family: 'Press Start 2P', system-ui;
    font-family: 'Roboto Mono', monospace;
     */
}

.loading-text {
  height: 100vh;
  font-family: "Comforter", cursive;
  font-size: 5rem;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  color: #fff;
  /* text-align: center; */
  /* font-family: Comforter; */
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1rem; */

  line-height: 10rem;
  letter-spacing: 0rem;
}

.name {
  color: #e4ff99;
  font-size: 9.3rem;

  margin: 5rem;

  clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.tagLine {
  font-size: 3.125rem;
  word-spacing: 1rem;
}

.char {
  transform: translateY(115px);
  transition: transform 0.5s;
}
